@use "../../helpers/index" as *;

.features {
  &__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 32px;

    @include tablet {
      grid-template-columns: repeat(2, 1fr);
      gap: 24px;

      > *:nth-child(1),
      > *:nth-child(4) {
        grid-column: 1 / -1; // растягиваем на всю ширину
      }
    }

    @include mobile {
      gap: 16px;
      grid-template-columns: 1fr; // на мобилке всё в один столбец

      > *:nth-child(1),
      > *:nth-child(4) {
        grid-column: auto; // сбрасываем растяжение
      }
    }
  }

  &__item {
    padding: 32px 16px;
    box-shadow: -1px 1px 2px 0 rgba(89, 89, 89, 0.05), -2px 3px 4px 0 rgba(89, 89, 89, 0.04), -5px 7px 5px 0 rgba(89, 89, 89, 0.03), -9px 13px 6px 0 rgba(89, 89, 89, 0.01), -14px 20px 7px 0 rgba(89, 89, 89, 0);
    border-radius: 16px;
    background-color: var(--color-white);
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    min-height: 195px;
  }

  &__item-content {
    display: flex;
    flex-direction: column;
    row-gap: 4px;

    h4 {
      margin: 0;
      font-weight: 500;
    }

    p {
      line-height: 131%;
      color: var(--color-black-70);
    }
  }
}